POSTGRES_DB=animal_shelter
POSTGRES_USER=shelter_admin
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

LIQUIBASE_TAG=

APP_ENV=development

TEST_DB_NAME=test_db

SEED_COUNT=10

POSTGRES_EXPORTER_PASSWORD=change_me
GRAFANA_PASSWORD=change_me

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_BACKUP_BUCKET=animal-shelter-backups
MINIO_BACKUP_USER=backup_user
MINIO_BACKUP_PASSWORD=change_me

BACKUP_INTERVAL=0 2 * * *
BACKUP_RETENTION_COUNT=7
BUCKET_BACKUP_NAME=animal-shelter-backups

PATRONI_SCOPE=new-animal-shelter
PATRONI_REPLICATION_USER=replicator
PATRONI_REPLICATION_PASSWORD=change_me
PATRONI_SUPERUSER_PASSWORD=change_me

ETCD_HOSTS=etcd:2379

HAPROXY_STATS_PASSWORD=change_me

DEBEZIUM_USER=debezium_cdc
DEBEZIUM_PASSWORD=change_me
DEBEZIUM_PUBLICATION_NAME=dbz_publication_donations

METABASE_PG_USER=metabase_srv
METABASE_PG_PASSWORD=change_me
METABASE_PG_DB=metabase_metadata

METABASE_USER=metabase_viewer
METABASE_PASSWORD=change_me